{{ if .Values.environment "prod" }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-resource
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ahmsay/Solidvessel.git
    targetRevision: master
    path: .kubernetes/environments/prod/ingress
  destination:
    server: https://kubernetes.default.svc
    namespace: solidvessel
  syncPolicy:
    automated:
      prune: true
{{ end }}